@model PandaApp.Models.Package.PackageDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Package</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ShippingAddress)</dt>
        <dd>@Model.ShippingAddress</dd>
        <dt>@Html.DisplayNameFor(model => model.Status)</dt>
        <dd>@Model.Status</dd>
        <dt>@Html.DisplayNameFor(model => model.EstimatedDeliveryDate)</dt>
        <dd>@Model.EstimatedDeliveryDate</dd>
        <dt>@Html.DisplayNameFor(model => model.Weight)</dt>
        <dd>@Model.Weight</dd>
        <dt>@Html.DisplayNameFor(model => model.Recipient)</dt>
        <dd>@Model.Recipient</dd>
        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Model.Description</dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>
