@{
    ViewBag.Title = "Числа";
}

<h3>@ViewData["Message"]</h3>

<form method="post" action="/Home/Numbers">
    Start: <input type="number" value="@ViewBag.Start" name="start" />
    End: <input type="number" value="@ViewBag.End" name="end" />
    Text: <input type="text" value="" name="text" />
    <input type="submit" />
</form>

<form method="get" action="https://www.google.com/search">
    Text: <input type="text" value="" name="q" />
    <input type="submit" value="Google Search" />
</form>

<h1 class="text-center">@ViewBag.Title</h1>

<div class="text-center">
    @if (ViewBag.nums != null && ViewBag.nums.Count > 0) 
    {
    <ul class="nums">
        @foreach (var num in ViewBag.nums)
        {
            <li>@num</li>
        }
    </ul>
    }
    else
    {
        <div>Няма ги числата!</div>
    }
</div>